# Application
web/app/plugins/*
web/app/mu-plugins/*
web/app/upgrade
web/app/uploads/*
!web/app/mu-plugins/disallow-indexing.php
!web/app/mu-plugins/register-theme-directory.php
!web/app/mu-plugins/bedrock-autoloader.php

# WordPress
web/wp
web/.htaccess

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Vendor (e.g. Composer)
vendor/*

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant
